.common-dialogmask{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99;
    .common-dialog-wrapper{
        width: 580px;
        position: fixed;
        left: 50%;
        top: 45%;
        transform: translateX(-50%) translateY(-50%);
        border-radius: 10px;
        background: $color-white;
        overflow: hidden;
        z-index: 100;
        &.visibily{
            overflow: visible;
        }

        &.no-bg-wrapper{
            background: transparent;
        }
    }
}
