.btn {
    @include farm_btn();
    .loading_icon {
      width: 35px;
      height: 35px;
      background: $loading;
      animation: rotate 2s linear infinite;
    }
    &.disabled{
        color: #fff;
    }
  }