.commonwrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 750px;
    margin: 0 auto;
    overflow: hidden;
    &.home{
        background: $homeBg;
        background-position: bottom center;
        background-size: 100%;
        background-color: #1384ff;
    }
    &.invite, &.boosters,&.earn{
        background: $boosterBg;
    }
    .content_wrapper{
        flex: 1;
        overflow: auto;
    }
}