.text_wrapper{
    .num{
        fill: #fffb00;
        font-family: 'Kemco Pixel';
        font-weight: 700;
        font-size: 52px;
        stroke:#000;
        stroke-width: 8px;
        paint-order: stroke;
        stroke-linejoin: round;
        text-align: center;
        margin: 0 auto;
        &.text_2 {
            fill:#ffe100 ;
        }
        &.text_36{
            font-size: 36px;
            stroke-width: 6px;
        }
        &.text_32{
            font-size: 32px;
            stroke-width: 6px;
        }
        &.text_28{
            font-size: 28px;
            stroke-width: 4px;
        }
        &.text_52{
            font-size: 52px;
        }
        &.text_44{
            font-size: 44px;
        }
    }
}
