.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 30px 80px;
  .icon {
    width: 198px;
    height: 130px;
    background: $youtube;
  }
  .title {
    text-align: center;
    font-family: 'Kemco Pixel';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    padding: 0 48px 40px;
    background: linear-gradient(90deg, #d941f1 0%, #2863e4 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hit {
    .hit_item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      &:nth-child(1) {
        position: relative;
        .hit_num {
          &::after {
            content: '';
            display: block;
            position: absolute;
            width: 52px;
            height: 10px;
            background: #fff;
            left: 28px;
            bottom: -10px;
          }
        }
      }
      .hit_num {
        width: 108px;
        height: 108px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #142443;
        font-family: 'Kemco Pixel';
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        background: #fff;
        margin-right: 10px;
        border-radius: 20px;
      }
      .hit_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 572px;
        height: 108px;
        border-radius: 20px;
        padding: 24px 40px;
        background: #fff;
        &.hit_wrapper1,
        .hit_wrapper_title {
          color: #142443;
          font-family: 'SF Pixelate';
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -2px;
        }
        .hit_wrapper_l {
          flex: 1;
          .hit_wrapper_hit {
            color: #fffb00;
            -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: #000;
            font-family: 'Kemco Pixel';
            font-size: 28px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-top: 16px;
          }
        }
        .hit_wrapper_icon {
          background: $link;
          flex: 0 0 32px;
          height: 32px;
        }
      }
    }
  }
  .tip {
    color: #de440d;
    font-family: 'SF Pixelate';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2px;
    margin-top: -47px;
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    &::before{
      content: '';
      display: inline-block;
      width: 38px;
      height: 32px;
      background: $warn;
      margin-right: 16px;
    }
  }

  .inputs {
    border-radius: 20px;
    border: 2px solid #f19bff;
    background: #fff;
    width: 690px;
    height: 100px;
    margin: 10px auto 80px;
    padding: 34px;
    color: #142443;
    font-family: 'SF Pixelate';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -2px;
    &::placeholder {
      color: rgba(20, 36, 67, 0.3);
      font-family: 'SF Pixelate';
      font-size: 28px;
      font-weight: 700;
      letter-spacing: -2px;
    }
  }

  .coin_wrapper {
    padding: 48px 0 43px;
    @include coin_wrapper();
  }

  .success {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 690px;
    height: 120px;
    border-radius: 20px;
    border: 2px solid #c99700;

    background: #fff;
    .success_txt {
      color: #fffb00;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #000;
      font-family: 'Kemco Pixel';
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding-right: 30px;
    }
    .success_icon {
      background: $link;
      flex: 0 0 32px;
      height: 32px;
    }
  }
}
