.wrapper {
  flex: 1;
  width: 750px;
  // background: $homeBg;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  .cloud_wrapper {
    position: absolute;
    left: 58px;
    right: 98px;
    top: 252px;
    height: 100px;
    animation: scrolling 10s linear infinite;
    .cloud1 {
      position: absolute;
      left: 0;
      top: 0;
      width: 178px;
      height: 69px;
      background: $cloud1;
    }
    .cloud2 {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 128px;
      height: 60px;
      background: $cloud2;
    }
    &.cloud_wrapper1 {
      transform: translateX(100vw);
      animation: scrolling 10s linear infinite;
      animation-delay: 5s;
    }
  }

  .main_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    position: relative;
    padding-bottom: 40px;

    .calendar {
      position: fixed;
      right: 28px;
      width: 93px;
      height: 85px;
      background: $calendar;
      bottom: 750px;
    }

    .fix_wrapper{
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      bottom: 386px;
      .level_wrapper {
        .coin {
          display: flex;
          align-items: center;
          justify-content: center;
          vertical-align: middle;
          &::before {
            display: inline-block;
            vertical-align: middle;
            background: $coin;
            width: 74px;
            height: 74px;
            content: '';
            margin-right: 18px;
          }
        }
        .level {
          color: #ffe100;
          text-align: center;
          font-family: 'SF Pixelate Bold Italic';
          font-style: italic;
          font-size: 36px;
          padding-top: 22px;
          // @include fontBorder(1px);
        }
      }
      .dog_wrapper {
        width: 750px;
        padding-top: 40px;
        background-color: rgba($color: #000000, $alpha: 0);
        display: flex;
        align-items: flex-end;
        justify-content: center;
        transition: all 0.8s ease; 
        &.dog_ani4 {
          padding-top: 190px;
          .dog{
            transform: scale(1.4);
            position: relative;
            animation: none;
            .dog_heart{
              position: absolute;
              left: 30%;
              transform: translateX(-50%);
              top: -40px;
              width: 750px;
              height: 838px;
              background: $heartAni;
            }
          }
        }
        &.dog_ani3 {
          padding-top: 150px;
          .dog{
            transform:scale(1.2);
            animation: none;
          }
        }
        &.dog_ani2 {
          padding-top: 100px;
          .dog{
            transform: scale(1.1);
            animation: none;
          }
        }
        .dog {
          // background: $dog;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          width: 415px;
          height: 454px;
          transform:translateY(0) scale(1);
          transform-origin: center bottom;
          transition: all 0.8s ease; 
          animation: scaleAni 1s infinite;
          animation-delay: 0.5s;
        }
      }

    }

  }
}
