.wrapper {
  width: 100vw;
  height: 100vh;
  background: $homeBg;
  position: relative;
  display: flex;
  flex-direction: column;
  .cloud_wrapper{
    position: absolute;
    left: 58px;
    right: 98px;
    top: 252px;
    height: 100px;
    animation: scrolling 10s linear infinite;
    .cloud1 {
      position: absolute;
      left: 0;
      top: 0;
      width: 178px;
      height: 79px;
      background: $cloud1;
    }
    .cloud2 {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 128px;
      height: 60px;
      background: $cloud2;
      
    }
    &.cloud_wrapper1{
      transform: translateX(100vw);
      animation: scrolling 10s linear infinite;
      animation-delay: 5s;
    }
  }


  .main_wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 206px;
    flex: 1;
    position: relative;
    .calendar{
      position: absolute;
      right: 28px;
      width: 112px;
      height: 102px;
      background: $calendar;
      top: 220px;
    }
    .level_wrapper {
      .coin {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFB00;
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color: #000;
        font-family: "Kemco Pixel";
        font-size: 52px;
        font-weight: 700;
        line-height: 52px;
        vertical-align: middle;
        &::before{
            display: inline-block;
            vertical-align: middle;
            background: $coin;
            width: 74px;
            height: 74px;
            content: '';
            margin-right: 18px;

        }
       
      }
      .level {
        color: #FFE100;
        text-align: center;
        -webkit-text-stroke-width:1px;
        -webkit-text-stroke-color: #000;
        font-family: "SF Pixelate Bold Italic";
        font-size: 36px;
        padding-top: 22px;
      }
    }
    .dog {
        background: $dog;
        width: 280px;
        height: 412px;
        margin-top: 63px;
    }
    .calendar {
    }
    .progress_wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-top: 94px;
      position: relative;
      .progress_bar{
        position: absolute;
        height: 78px;
        width: 10px;
        background: #fff200;
        left: 26px;
        top: 12px;
      }
      .progress {
        width: 646px;
        height: 110px;
        padding: 0 26px;
        display: flex;
        align-items: center;
        background: $farm_1;
        flex: 1;
        .progress_current {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0 18px;
          .progress_coin {
            width: 42px;
            height: 42px;
            background: $coin;
          }
          .progress_hit {
            color: #142443;
            font-family: 'SF Pixelate';
            font-size: 28px;
            font-weight: 700;
            letter-spacing: -4px;
            padding-left: 16px;
          }
        }
        .progress_left {
          text-align: right;
          padding-right: 16px;
          flex: 1;
          color: #142443;
          text-align: right;
          font-family: 'SF Pixelate';
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          letter-spacing: -4px;
          text-shadow: 0px 0px 8px #fff200;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
        &.progress1{
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 402px;
          height: 110px;
          background: $farm_2;
          .progress_current{
            display: flex;
            align-items: center;
            justify-content: center;
            .progress_coin {
              width: 26px;
              height: 26px;
              background: $coin;
            }
          }
          .progress_left{
            flex: none;
            padding-top: 6px;
          }
        }
      }

      .getbtn{
        background: $harvestable;
        width: 290px;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 10px;
        color: #142443;
        text-align: center;
        font-family: "SF Pixelate";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -1px;
      }
    }

  }
}


