//style.less
.scroll_wrapper{
    display: flex;
    align-items: center;
}
.scroll_wrapper_stork{
    padding-top: 10px;
}
.stork{
    margin-left: -2px;
    margin-right: -2px;
}
.number-wrap{
    letter-spacing: 1px;
    &.empty-wrapper{
        opacity: 0;
    }
}
.number-animation-wrap {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    .number-animation {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        height: auto;
        transform-origin: 0 0;
        transition: top 0.2s;//过渡属性的名称 过渡动画所需的时间
    }

    .number,.number-animation-wrap-hidden {
        text-align: center;
    }

    .number-animation-wrap-hidden{
        visibility: hidden;
    }
}

