@import './image.scss';
@import './variables.scss';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

@font-face {
    font-family: 'SF Pixelate Italic';
    src: url('~@/Theme/fonts/SF-Pixelate-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Pixelate Bold Italic';
    src: url('~@/Theme/fonts/SF-Pixelate-Bold-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Pixelate';
    src: url('~@/Theme/fonts/SFPixelate.ttf') format('truetype');
}

@font-face {
    font-family: 'Kemco Pixel';
    src: url('~@/Theme/fonts/Kemco_Pixel.ttf') format('truetype');
}
  
  
@keyframes scrolling {
    from {
        transform: translateX(-100vw);
    }
    to {
      transform: translateX(100vw);
    }
  }
