$Home: url('~@/Theme/assets/Home.png') no-repeat center/100% 100%;
$Boosters: url('~@/Theme/assets/Boosters.png') no-repeat center/100% 100%;
$Earn: url('~@/Theme/assets/Earn.png') no-repeat center/100% 100%;
$Invite: url('~@/Theme/assets/Invite.png') no-repeat center/100% 100%;
$board: url('~@/Theme/assets/board.png') no-repeat center/100% 100%;
$love: url('~@/Theme/assets/love.png') no-repeat center/100% 100%;
$lightning: url('~@/Theme/assets/lightning.png') no-repeat center/100% 100%;
$homeBg: url('~@/Theme/assets/homeBg.png') no-repeat center/100% 100%;
$cloud1: url('~@/Theme/assets/cloud1.png') no-repeat center/100% 100%;
$cloud2: url('~@/Theme/assets/cloud2.png') no-repeat center/100% 100%;
$dog: url('~@/Theme/assets/dog.png') no-repeat center/100% 100%;
$calendar: url('~@/Theme/assets/calendar.png') no-repeat center/100% 100%;
$farm_1: url('~@/Theme/assets/farm_1.png') no-repeat center/100% 100%;
$farm_2: url('~@/Theme/assets/farm_2.png') no-repeat center/100% 100%;
$harvestable: url('~@/Theme/assets/harvestable.png') no-repeat center/100% 100%;
$coin: url('~@/Theme/assets/coin.png') no-repeat center/100% 100%;

$l: url('~@/Theme/assets/l.png') no-repeat center/100% 100%;
$boosterBg: url('~@/Theme/assets/boosterBg.png') no-repeat center/100% 100%;
$a: url('~@/Theme/assets/a.png') no-repeat center/100% 100%;
$balance: url('~@/Theme/assets/balance.png') no-repeat center/100% 100%;
$detail: url('~@/Theme/assets/detail.png') no-repeat center/100% 100%;
$e: url('~@/Theme/assets/e.png') no-repeat center/100% 100%;
$i: url('~@/Theme/assets/i.png') no-repeat center/100% 100%;
$s: url('~@/Theme/assets/s.png') no-repeat center/100% 100%;
$t: url('~@/Theme/assets/t.png') no-repeat center/100% 100%;



