$Home: url('~@/Theme/assets/Home.png') no-repeat center/100% 100%;
$Boosters: url('~@/Theme/assets/Boosters.png') no-repeat center/100% 100%;
$Earn: url('~@/Theme/assets/Earn.png') no-repeat center/100% 100%;
$Invite: url('~@/Theme/assets/Invite.png') no-repeat center/100% 100%;
$board: url('~@/Theme/assets/board.png') no-repeat center/100% 100%;
$love: url('~@/Theme/assets/love.png') no-repeat center/100% 100%;
$lightning: url('~@/Theme/assets/lightning.png') no-repeat center/100% 100%;
$homeBg: url('~@/Theme/assets/homeBg.png') no-repeat center/100% 100%;
$cloud1: url('~@/Theme/assets/cloud1.png') no-repeat center/100% 100%;
$cloud2: url('~@/Theme/assets/cloud2.png') no-repeat center/100% 100%;
$dog: url('~@/Theme/assets/dog.png') no-repeat center/100% 100%;
$calendar: url('~@/Theme/assets/calendar.png') no-repeat center/100% 100%;
$farm_1: url('~@/Theme/assets/farm_1.png') no-repeat center/100% 100%;
$farm_2: url('~@/Theme/assets/farm_2.png') no-repeat center/100% 100%;
$harvestable: url('~@/Theme/assets/harvestable.png') no-repeat center/100% 100%;
$coin: url('~@/Theme/assets/coin.png') no-repeat center/100% 100%;

$l: url('~@/Theme/assets/l.png') no-repeat center/100% 100%;
$boosterBg: url('~@/Theme/assets/boosterBg.png') no-repeat center/100% 100%;
$balance: url('~@/Theme/assets/balance.png') no-repeat center/100% 100%;
$detail: url('~@/Theme/assets/detail.png') no-repeat center/100% 100%;


$copied: url('~@/Theme/assets/copied.png') no-repeat center/100% 100%;
$fren: url('~@/Theme/assets/fren.png') no-repeat center/100% 100%;
$inviteTop: url('~@/Theme/assets/inviteTop.png') no-repeat center/100% 100%;
$pup: url('~@/Theme/assets/pup.png') no-repeat center/100% 100%;
$earnBg: url('~@/Theme/assets/earnBg.png') no-repeat center/100% 100%;
$earnTop: url('~@/Theme/assets/earnTop.png') no-repeat center/100% 100%;
$tg: url('~@/Theme/assets/tg.png') no-repeat center/100% 100%;
$x: url('~@/Theme/assets/x.png') no-repeat center/100% 100%;
$youtube: url('~@/Theme/assets/youtube.png') no-repeat center/100% 100%;
$copy: url('~@/Theme/assets/copy.png') no-repeat center/100% 100%;
$close: url('~@/Theme/assets/close.png') no-repeat center/100% 100%;

$affection: url('~@/Theme/assets/affection.png') no-repeat center/100% 100%;
$ban: url('~@/Theme/assets/ban.png') no-repeat center/100% 100%;
$close_yellow: url('~@/Theme/assets/close_yellow.png') no-repeat center/100% 100%;
$energy: url('~@/Theme/assets/energy.png') no-repeat center/100% 100%;
$increase: url('~@/Theme/assets/increase.png') no-repeat center/100% 100%;
$loading: url('~@/Theme/assets/loading.png') no-repeat center/100% 100%;
$full: url('~@/Theme/assets/full.png') no-repeat center/100% 100%;
$speed: url('~@/Theme/assets/speed.png') no-repeat center/100% 100%;
$time: url('~@/Theme/assets/time.png') no-repeat center/100% 100%;
$lock: url('~@/Theme/assets/lock.png') no-repeat center/100% 100%;
$link: url('~@/Theme/assets/link.png') no-repeat center/100% 100%;
$tick: url('~@/Theme/assets/tick.png') no-repeat center/100% 100%;

$vector: url('~@/Theme/assets/vector.png') no-repeat center/100% 100%;
$subtract1: url('~@/Theme/assets/subtract1.png') no-repeat center/100% 100%;
$subtract2: url('~@/Theme/assets/subtract2.png') no-repeat center/100% 100%;
$up: url('~@/Theme/assets/up.png') no-repeat center/100% 100%;
$next: url('~@/Theme/assets/next.png') no-repeat center/100% 100%;
$runing: url('~@/Theme/assets/runing.png') no-repeat center/100% 100%;
$sleep: url('~@/Theme/assets/sleep.png') no-repeat center/100% 100%;
$warn: url('~@/Theme/assets/warn.png') no-repeat center/100% 100%;
$close_bottom:url('~@/Theme/assets/close_bottom.png') no-repeat center/100% 100%;
$close_top:url('~@/Theme/assets/close_top.png') no-repeat center/100% 100%;




