$Home: url('~@/Theme/assets/Home.png') no-repeat center/100% 100%;
$Boosters: url('~@/Theme/assets/Boosters.png') no-repeat center/100% 100%;
$Earn: url('~@/Theme/assets/Earn.png') no-repeat center/100% 100%;
$Invite: url('~@/Theme/assets/Invite.png') no-repeat center/100% 100%;


