.wrapper{
    width: 750px;
    flex: 1;
    padding-top: 40px;
    overflow: auto;
    padding-bottom: 50px;
    .top_wrapper{
        background: $earnTop;
        width: 690px;
        height: 216px;
        margin: 0 auto;
    }
}