.foot-tabs {
  display: flex;
  background: #fff;
  border-radius: 20px 20px 0 0;
  flex: 0 0 140px;
  height: 140px;
  padding-bottom: 30px;
  padding-top: 12px;
  .tab-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .tab-icon {
      width: 70px;
      height: 70px;
      &.Home {
        background: $Home;
      }
      &.Boosters {
        background: $Boosters;
      }
      &.Earn {
        background: $Earn;
      }
      &.Invite {
        background: $Invite;
      }
    }

    .tab-title {
      color: #142443;
      text-align: center;
      font-family: 'SF Pixelate';
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -4px;
      padding-top: 6px;
      font-family: 'SF Pixelate';
    }
  }
}
