.tab-list {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  .title {
    color: #fffb00;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: 'Kemco Pixel';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
    text-align: left;
    padding-left: 30px;
  }
  .tab-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    background: #fff;
    width: 690px;
    height: 134px;
    padding: 0 30px;
    margin: 0 auto 16px;
    .tab-l {
      flex: 0 0 94px;
      height: 94px;
      &.a {
        background: $a;
      }
      &.e {
        background: $e;
      }
      &.s {
        background: $s;
      }
      &.t {
        background: $t;
      }
      &.i {
        background: $i;
      }
    }
    .tab-m {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 30px;
      .tab-title {
        color: #142443;
        font-family: 'SF Pixelate';
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -2px;
        padding-bottom: 14px;
      }
      .tab-hit {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .coin {
          width: 26px;
          height: 26px;
          background: $coin;
          margin-right: 12px;
        }
        .txt {
          color: #db7100;
          font-family: 'SF Pixelate';
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        .up {
          width: 18px;
          height: 20px;
          background: $l;
          margin-left: 14px;
          margin-right: 14px;
        }
      }
    }
    .tab-r {
      flex: 0 0 20px;
      height: 34px;
      background: $detail;
    }
  }
}
